<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>personne List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>cin</th>
          <th>nom</th>
          <th>prenom</th>
          <th>email</th>
          <th>date_de_naissance</th>
          <th>role</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let personne of personnes | async">
          <td>{{personne.cin}}</td>
          <td>{{personne.nom}}</td>
          <td>{{personne.prenom}}</td>
          <td>{{personne.email}}</td>
          <td>{{personne.date_de_naissance}}</td>
          <td>{{personne.role}}</td>
          <td><button (click)="deletepersonne(personne.id)" class="btn btn-danger">Delete</button>
              <button (click)="updatepersonne(personne.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
              <button (click)="personneDetails(personne.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>